@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&family=Outfit:wght@100;200;300;400;700;800&display=swap');

.cellphone{
    display: inline-flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 0.625px;
    border-radius: 8px;
    border: 1px solid var(--neutral-500, #E1E1E1);
    background: var(--neutral-100, #FCFEFF); 
    height:fit-content;
}
.cellphone_text{
    color: var(--dark, #030303);
    font-family: 'Outfit', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    font-style: normal;
    margin: 0;
}

.topBarHeader{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.style_header_text{
    color: #101010;
    font-family: 'Montserrat', sans-serif;
    font-size: 22.609px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

.logo_style{
    width: 2.8rem;
    height: 3.25rem;
}
.promo_style{
    width: 23.2rem;
    height: 9.12rem;
    margin-bottom: 1.68rem;
}   
.itemImg_style{
    width: 2.8;
    height: 2.8;
    flex-shrink: 0;
}
.search_style{
    width: 1.41rem;
    height: 1.41rem;
}
.title_style{
    color: var(--primary-70, #101010);
    font-family: 'Outfit', sans-serif;
    font-size: 18.841px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-transform: uppercase;
}
.searchBar_style{
    display: flex;
    gap: 0.5rem;
    width: 17.18rem;
    align-items: center;
    margin: 0;
    padding: 0.57rem 0.94rem;

    border-radius: 7.536px;
    border: 4px solid var(--neutral-500, #E1E1E1);
    background: var(--neutral-100, #FCFEFF);
    margin-bottom: 1rem;
}

.searchInput_style{
    color: var(--dark, #030303);
    font-family: 'Outfit', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: none;
    outline: none;
}
.logoName_styleFlex{
    display: flex;
    flex-direction: row;
}

.categoryItem{
    display: flex;
    width: 20.5rem;
    padding: 0rem 1.25rem;
    margin-top: 0.9rem;
    align-items: center;
    gap: 9px;
    border-radius: 8px;
    border: 1px solid var(--neutral-500, #E1E1E1);
}

.category_string_style_title{
    color: var(--dark, #030303);
    font-family: 'Outfit', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.category_string_style_subtitle{
    color: var(--dark, #030303);
    font-family: 'Outfit', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.title_text_style{
    color: var(--dark, #030303);
    font-family: 'Outfit', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.description_text_style{
    color: var(--dark, #030303);
    font-family: 'Outfit', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.sort_button_style{
    width: 3.25rem;
    height: 3.31rem;
    border-radius: 7.536px;
    border: 4px solid var(--neutral-500, #E1E1E1);
    background: var(--neutral-100, #FCFEFF);
}

.title_card{
    color: var(--dark, #030303);
    font-family: 'Outfit', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.32px;
    margin: 0;
}

.brand_card{
    color: var(--neutral-700, #777B8A);
    font-family: 'Outfit', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 0;
}

.description_card{
    color: var(--dark, #030303);
    font-family: 'Outfit', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
    width:8rem;
}

.price_card{
    color: var(--primary, #4187F7);
    font-family: 'Outfit', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    margin-top: 20px;
}

.product_description_style{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
}

.product_card_style{
    display: flex;
    width: 346px;
    padding: 20px 0px;
    justify-content: space-between;
    align-items: center;

    border-bottom: 1px solid var(--neutral-500, #E1E1E1);
}

.product_card_img{
    width: 165px;
    height: 166px;
    flex-shrink: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 8px;
    background: var(--neutral-300, #F7F7F7);
}

.catalog_page_style{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sort_icon_style{
    width: 1.5rem;
    height: 1.5rem;
    flex-shrink: 0;
}

.filter_search_bar_position{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 0.5rem;
}